{% extends 'base.html' %}
{% block content %}
      <!-- about -->
      <br><br><br>
      <div class="about">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage text_align_center">
                    <h2>Api Simple test</h2>
                    <p>POST: Yangi ma'lumotni serverga yuborish uchun. Masalan, yangi foydalanuvchini qo'shish yoki yangi ma'lumotni saqlash.

                     GET: Ma'lumotni olish uchun. Masalan, foydalanuvchilar ro'yxatini ko'rish yoki ma'lum bir foydalanuvchining profilini olish.
                     
                     PUT: Ma'lumotni yangilash uchun. Masalan, foydalanuvchi profili yoki ma'lum bir obyekt ma'lumotlarini o'zgartirish.
                     
                     DELETE: Ma'lumotni o'chirish uchun. Masalan, foydalanuvchi profilini o'chirish yoki ma'lum bir obyektni o'chirish.
                      </p>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- end about -->
{% endblock %}