{% extends 'base.html' %}
{% block title %} About Page {% endblock %}
{% block content %}
      <!-- about -->
      <br><br><br>
      <div class="about">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage text_align_center">
                    <h2>Api Simple test</h2>
                    <br><br><br>
                    <p><b>POST</b>: Yangi ma'lumotni serverga yuborish uchun. Masalan, yangi foydalanuvchini qo'shish yoki yangi ma'lumotni saqlash. <br>

                     <b>GET</b>: Ma'lumotni olish uchun. Masalan, foydalanuvchilar ro'yxatini ko'rish yoki ma'lum bir foydalanuvchining profilini olish. <br>
                     
                     <b>PUT</b>: Ma'lumotni yangilash uchun. Masalan, foydalanuvchi profili yoki ma'lum bir obyekt ma'lumotlarini o'zgartirish. <br>
                     
                     <b>DELETE</b>: Ma'lumotni o'chirish uchun. Masalan, foydalanuvchi profilini o'chirish yoki ma'lum bir obyektni o'chirish.
                      </p>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- end about -->
{% endblock %}